/** 
 * File: src/components/HomePage/HeroSec.module.css
 * Author: Neha Balotia, Yash Balotiya
 * Description: This file contains the styles for the HeroSec component for the homepage.
 * Created on: 26/10/2025
 * Last Modified: 07/11/2025
*/

/* Importing Responsive Styles */
@import "./HeroSecResponsive.css";

/* Hero Section */
.heroSec {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    background: linear-gradient(to bottom, #ddffd7 75%, #fdfdfd);
    text-align: center;
}

/* Text Displayed in Hero Section */
.textContainer h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 60px;
    font-weight: bold;
}

/* Typewriter */
.typewriter {
    display: inline-flex !important;
    color: #4a8350;
    margin: 20px;
}

.leftSec {
    display: flex;
    flex-direction: column;
}

/* Image Container in Hero Section */
.imageContainer {
    height: 70vh;
    display: flex;
    justify-content: flex-end;
}

/* Image in Hero Section */
.personImg {
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

/* Get Loan Button */
.getLoanButton {
    margin: 30px 0 0 200px;
    padding: 10px 50px;
    /* border: 2px solid #4a8350; */
    /* background-color: #d4f5e1; */
    background-color: #4a8350;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    /* color: #4a8350; */
    color: whitesmoke;
    font-weight: bold;
    width: 200px;
}

/* Keyframes */
@media screen and (max-width: 1100px) {
    .heroSec {
        padding-left: 5%;
        padding-right: 5%;
    }

    .textContainer h1 {
        font-size: 40px;
    }

    .personImg {
        height: 60vh;
    }

    .getLoanButton {
        margin: 30px 0 0 150px;
        width: 180px;
    }

}

@media screen and (max-width: 910px) {
    .heroSec {
        padding-left: 5%;
        padding-right: 5%;
    }

    .textContainer h1 {
        font-size: 40px;
    }

    .personImg {
        height: 50vh;
    }

    .getLoanButton {
        margin: 30px 0 0 120px;
        width: 180px;
    }
}