/** 
 * File: src/components/HomePage/HeroSecResponsive.css
 * Author: Neha Balotia, Yash Balotiya
 * Description: This file contains the styles for the HeroSec component for the homepage.
 * Created on: 26/10/2025
 * Last Modified: 07/11/2025
*/

/* Media Queries */
@media screen and (max-width: 800px) {
    .heroSec {
        padding-left: 5%;
        padding-right: 5%;
    }

    .textContainer h1 {
        font-size: 30px;
    }

    .personImg {
        height: 50vh;
    }

    .getLoanButton {
        margin: 30px 0 0 100px;
        width: 180px;
    }
}

@media screen and (max-width: 750px) {
    .heroSec {
        padding-left: 5%;
        padding-right: 5%;
    }

    .textContainer h1 {
        font-size: 30px;
    }

    .personImg {
        height: 45vh;
    }

    .getLoanButton {
        margin: 30px 0 0 90px;
        width: 170px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 700px) {
    .heroSec {
        padding-left: 5%;
        padding-right: 5%;
    }

    .textContainer h1 {
        font-size: 25px;
    }

    .getLoanButton {
        margin: 30px 0 0 70px;
        width: 130px;
    }
}

@media screen and (max-width: 650px) {
    .heroSec {
        display: flex;
        flex-direction: column;
    }

    .textContainer h1 {
        font-size: 35px;
    }

    .personImg {
        mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 50%, transparent 100%);
        height: 50vh;
    }

    .getLoanButton {
        margin: 30px 0 0 100px;
        width: 180px;
    }
}

@media screen and (max-width: 570px) {
    .heroSec {
        display: flex;
        flex-direction: column;
    }

    .textContainer h1 {
        font-size: 35px;
    }

    .personImg {
        mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 50%, transparent 100%);
    }
}

@media screen and (max-width: 500px) {
    .textContainer h1 {
        font-size: 30px;
    }

    .personImg {
        mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 50%, transparent 100%);
    }
}

@media screen and (max-width: 400px) {
    .heroSec {
        display: flex;
        flex-direction: column;
    }

    .textContainer h1 {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        margin-top: 2%;
    }

    .personImg {
        height: 45vh;
        mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 50%, transparent 100%);
    }
}