/** 
 * File: src/components/HomePage/LoanSteps.module.css
 * Author: Yash Balotiya, Neha Balotia
 * Description: Styles for the loan steps component
 * Created on: 24/08/2025
 * Last Modified: 07/11/2025
*/

/* Container for the loan steps */
.container {
    scroll-margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff, #e3fad9);
    width: 100%;
    padding-bottom: 50px;
}

/* Heading styles */
.heading {
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #212529;
}

#rupieFinanceH1 {
    color: #4A8350;
    font-size: 3rem;
}

/* Description styles */
.description {
    margin-top: 1.5rem;
    text-align: center;
    line-height: 1.6;
    width: 80%;
}

/* Steps wrapper styles */
.stepsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 3rem;
    width: 100%;
}

/* Image wrapper styles */
.imageWrapper {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.imageWrapper img {
    width: 50%;
}

/* Step illustration styles */
.stepIllustration {
    width: 50%;
    height: 450px;
    object-fit: contain;
}

.stepsListWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding-left: 1rem;
}

/* Responsive styles */
@media (max-width:750px) {
    .stepsWrapper {
        flex-direction: column;
        align-items: center;
    }

    .imageWrapper,
    .stepsListWrapper {
        width: 90%;
        height: auto;
        margin-bottom: 2rem;
    }

    .imageWrapper img {
        width: 100%;
    }
}