.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: justify;
}

.about h1 {
    font-size: 50px;
    color: rgb(52, 122, 52);
}

.about p {
    margin: 2% 25% 2% 25%;
    color: rgb(51, 51, 51);
}